In [ ]:
import pandas

## Why not to use normal open

when we simply open the file and do readlines, we get a list of strings; the string are also comma separated. This format is difficult to work with when we are working with data. Thus we use the pandas frame work in order to import the data in a clean format so we can work on it easily.

In [ ]:
# reading data file with normal open
with open('weather_data.csv') as weather_data:
    content = weather_data.readlines()
    print(content)

## Getting csv data into pandas

We start of my importing csv module. 
1. use the 'with' instance manager and open the file in question. 
2.  make a variable and store the csv.reader object in this variable. 
3. Loop through this variable to display the data


This is still tedious, thus we use pandas to make our life easier!

In [ ]:
import csv

# open the file 
with open('weather_data.csv') as data_file:
    # make csv reader object
    data = csv.reader(data_file)
    # print(type(data), data)
    # use the csv reader object to read the data
    temperatures = []
    for rows in data:
        print(rows) # each row is taken in the csv files and separated out into single values
        # this is done for all rows
        # now we extract the temperature values
        if rows[1] != 'temp':
            temperatures.append(int(rows[1]))

    print(temperatures)

## Pandas

to read data use pandas.csv('filepath') unlike the above method we dont need to explicitly open the file and create a reader, pandas takes care of this.

Pandas gets the data in a nicely in a table

In [24]:
import pandas as pd

In [26]:
data = pd.read_csv('weather_data.csv')
# print(data)

# to get temperature data
print(data["temp"]) # the column names can be used as a value to get the values of the column

0    12
1    14
2    15
3    14
4    21
5    22
6    24
Name: temp, dtype: int64

In [27]:
# we can always check the data type of the object. Here we check what type of object is returned by read_csv
print(type(data)) # data frame object
print(type(data['temp']))

<class 'pandas.core.frame.DataFrame'>
<class 'pandas.core.series.Series'>

The dataframe object is 2 dimensional in nature, pandas also handles one dimensional data which are called Series, series are like lists; every single column is a list.

We can convert the dataframe to various different file types such as excel, html, dictionary

In [28]:
# converting dataframe to dictionary
data_dict = data.to_dict() # makes a dictionary of dictionary
print(data_dict)

{'day': {0: 'Monday', 1: 'Tuesday', 2: 'Wednesday', 3: 'Thursday', 4: 'Friday', 5: 'Saturday', 6: 'Sunday'}, 'temp': {0: 12, 1: 14, 2: 15, 3: 14, 4: 21, 5: 22, 6: 24}, 'condition': {0: 'Sunny', 1: 'Rain', 2: 'Rain', 3: 'Cloudy', 4: 'Sunny', 5: 'Sunny', 6: 'Sunny'}}

In [29]:
# we can also convertseries to a list
temp_list = data['temp'].to_list()
print(temp_list) # we conperform list operations on this

[12, 14, 15, 14, 21, 22, 24]

In [23]:
%reset

In [30]:
avg = sum(temp_list)/len(temp_list)
print(avg)

17.428571428571427

In [31]:
# another way to get avg is a method from the Series object
print(data['temp'].mean())

17.428571428571427

In [32]:
# another method to get the max value in the series
print(data['temp'].max())

24

## in the regular way of selecting columns data['col'] where the col name has to be perfectly matched, there is another way to select columns is by using 'attributes'attributes'
## so each column has been converted to python attribute

In [ ]:
# selecting the condition column
print(type(data.condition))
print(data.condition) # here we treat data frame like an object

<class 'pandas.core.series.Series'>
0     Sunny
1      Rain
2      Rain
3    Cloudy
4     Sunny
5     Sunny
6     Sunny
Name: condition, dtype: object

## How to get data in the rows of the data frame
so if we give the name of the col as a string to data['col_name'] we get the entire column
but if we give some condition we can extract a row(s) from satisfying that condition for instance data[data.day == 'Monday'] returns the row(s) whose day is Monday.

The row also consists of lot of data, say we just wanted to extract the temperature on a monday. We stat of by storing that row in a variable (***This will be a DataFrame object***), and then we can access the attributes of that row
similar to how we access columns in the dataframe

In [45]:
# say I want to get the weather data on monday
# print(data[data.day == 'Monday'])

# Now i only wanna get the temperature on Monday
monday_row = data[data.day == 'Monday']
print(type(monday_row), monday_row.temp)

<class 'pandas.core.frame.DataFrame'> 0    12
Name: temp, dtype: int64

In [38]:
# challenge - pull out the row data where the temperature was maximum
print(data[data.temp == data.temp.max()])

      day  temp condition
6  Sunday    24     Sunny

In [56]:
#challenge - convert celsius data into fahrenheit
temp_list = data[data.day == 'Monday']
monday_temp_F = (temp_list.temp) * (9/5) + 32
print(monday_temp_F)
temp_list.day

0    53.6
Name: temp, dtype: float64

0    Monday
Name: day, dtype: object

In [ ]:
data[data.temp < 20] #

         day  temp condition
0     Monday    12     Sunny
1    Tuesday    14      Rain
2  Wednesday    15      Rain
3   Thursday    14    Cloudy

# Creating DataFrame from scratch 
To do so we need a dictionary of lists, the key values will be the column names and the lists will be the column values. 
Once we have the dictionary of lists, we can create a datafram object using pd.DataFrame() and pass the data_dict as an arguement.

Further the created dataframe can also be saved as CSV file using the to_csv mehtod of the DataFrame object, the arguement would be file path in form of a string


See the example below

In [58]:
data_dict = {
    'students': ['Amy','James','Angela'],
    'scores': [76,56,65]
}

data = pd.DataFrame(data_dict)
print(data)

# saving the data frame as a csv
data.to_csv('./student_data.csv')

  students  scores
0      Amy      76
1    James      56
2   Angela      65

# Central Park Squirrel Data Analysis

In [60]:
squirrel_data = pd.read_csv('2018_Central_Park_Squirrel_Census_-_Squirrel_Data.csv')
squirrel_data

# idea is to create a csv with fur_color and count

,X,Y,Unique Squirrel ID,Hectare,Shift,Date,Hectare Squirrel Number,Age,Primary Fur Color,Highlight Fur Color,...,Kuks,Quaas,Moans,Tail flags,Tail twitches,Approaches,Indifferent,Runs from,Other Interactions,Lat/Long
0,-73.956134,40.794082,37F-PM-1014-03,37F,PM,10142018,3,NaN,NaN,NaN,...,False,False,False,False,False,False,False,False,NaN,POINT (-73.9561344937861 40.7940823884086)
1,-73.957044,40.794851,37E-PM-1006-03,37E,PM,10062018,3,Adult,Gray,Cinnamon,...,False,False,False,False,False,False,False,True,me,POINT (-73.9570437717691 40.794850940803904)
2,-73.976831,40.766718,2E-AM-1010-03,02E,AM,10102018,3,Adult,Cinnamon,NaN,...,False,False,False,False,False,False,True,False,NaN,POINT (-73.9768311751004 40.76671780725581)
3,-73.975725,40.769703,5D-PM-1018-05,05D,PM,10182018,5,Juvenile,Gray,NaN,...,False,False,False,False,False,False,False,True,NaN,POINT (-73.9757249834141 40.7697032606755)
4,-73.959313,40.797533,39B-AM-1018-01,39B,AM,10182018,1,NaN,NaN,NaN,...,True,False,False,False,False,False,False,False,NaN,POINT (-73.9593126695714 40.797533370163)
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3018,-73.963943,40.790868,30B-AM-1007-04,30B,AM,10072018,4,Adult,Gray,NaN,...,False,False,False,False,False,False,False,True,NaN,POINT (-73.9639431360458 40.7908677445466)
3019,-73.970402,40.782560,19A-PM-1013-05,19A,PM,10132018,5,Adult,Gray,White,...,False,False,False,False,False,False,True,False,NaN,POINT (-73.9704015859639 40.7825600069973)
3020,-73.966587,40.783678,22D-PM-1012-07,22D,PM,10122018,7,Adult,Gray,"Black, Cinnamon, White",...,False,False,False,False,False,False,True,False,NaN,POINT (-73.9665871993517 40.7836775064883)
3021,-73.963994,40.789915,29B-PM-1010-02,29B,PM,10102018,2,NaN,Gray,"Cinnamon, White",...,False,False,False,False,False,False,True,False,NaN,POINT (-73.9639941227864 40.7899152327912)
3022,-73.975479,40.769640,5E-PM-1012-01,05E,PM,10122018,1,Adult,Cinnamon,"Gray, White",...,False,False,False,False,False,True,False,False,NaN,POINT (-73.9754794191553 40.7696404489025)

In [78]:
squirrel_colors = squirrel_data['Primary Fur Color'].dropna()
squirrel_colors = squirrel_colors.value_counts()
# squirrel_colors.to_csv('./squirrel_counts.csv')
squirrel_colors

Primary Fur Color
Gray        2473
Cinnamon     392
Black        103
Name: count, dtype: int64

In [76]:
counts = pd.read_csv('./squirrel_counts.csv')
counts

  Primary Fur Color  count
0              Gray   2473
1          Cinnamon    392
2             Black    103

# US states game